h1{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wikiContent{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
}
.searchContainer{
    margin: auto;
    width: 50%;
}
.searchInput{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    font-size: medium;
}
.seachButton{
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 8px;
    border-color: black;
    border-style:solid;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.seachButton:hover{
    background-color: white;
    color: black;
}
#show{
    display: none;
}
a{
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
    border-style:solid;
    border-color: black;
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: 0.3s;
}
a:hover{
    background-color: black;
    color: white;
}
